<div class="form-container">
  <div class="card">
    <div class="card-header">Configuracion OMS</div>

    <div class="card-body">
      <h5 class="card-title text-center">Configuracion OMS</h5>

      <tabset>
        <tab
          *ngFor="let group of groups"
          [heading]="group.grupo"
          [active]="group.active"
          (selectTab)="group.active = true"
          (deselect)="group.active = false"
          [disabled]="group.disabled"
          [removable]="group.removable"
          customClass="pestañas"
        >
          <app-table
            [group]="group"
            [onSave]="saveGroups.bind(this)"
          ></app-table>
        </tab>
      </tabset>
      <div style="padding-top: 2vh; text-align: end">
        <button type="button" class="btn btn-danger mx-2" (click)="Cancelar()">
          Cancelar
        </button>
        <button type="button" class="btn btn-success" (click)="Grabar()">
          Grabar
        </button>
      </div>
    </div>
  </div>
</div>
