<table class="table">
  <thead>
    <tr>
      <th scope="col">Codigo</th>
      <th scope="col">Descripcion</th>
      <th scope="col">Valor</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let elemento of group.elementos">
      <td>
        <input
          name="codigo"
          *ngIf="editMode"
          value="{{ elemento.codigo }}"
          (keyup)="onKey($event, elemento)"
        />
        <span *ngIf="!editMode">{{ elemento.codigo }}</span>
      </td>
      <td>
        <input
          name="descripcion"
          *ngIf="editMode"
          value="{{ elemento.descripcion }}"
          (keyup)="onKey($event, elemento)"
        />
        <span *ngIf="!editMode">{{ elemento.descripcion }}</span>
      </td>
      <td>
        <input
          name="valor"
          *ngIf="editMode"
          value="{{ elemento.valor }}"
          (keyup)="onKey($event, elemento)"
        />
        <span *ngIf="!editMode">{{ elemento.valor }}</span>
      </td>
    </tr>
  </tbody>

  <button *ngIf="!editMode" (click)="editMode = true">Editar</button>
  <button *ngIf="editMode" (click)="Cancelar()">Cancelar</button>
  <button *ngIf="editMode" (click)="Grabar()">Grabar</button>
</table>
