<table class="table">
  <thead>
    <tr>
      <th scope="col">Codigo</th>
      <th scope="col">Descripcion</th>
      <th scope="col">Valor</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let elemento of group.elementos">
      <td data-label="Codigo">
        <span>{{ elemento.codigo }}</span>
      </td>
      <td data-label="Descripcion">
        <span>{{ elemento.descripcion }}</span>
      </td>
      <td data-label="Valor">
        <input
          class="form-control"
          name="valor"
          *ngIf="editMode"
          value="{{ elemento.valor }}"
          (keyup)="onKey($event, elemento)"
        />
        <span *ngIf="!editMode">{{ elemento.valor }}</span>
      </td>
    </tr>
  </tbody>
  <div style="padding-top: 5vh">
    <button
      type="button"
      class="btn btn-primary"
      *ngIf="!editMode"
      (click)="editMode = true"
    >
      Editar
    </button>
    <button
      type="button"
      class="btn btn-danger mx-2"
      *ngIf="editMode"
      (click)="Cancelar()"
    >
      Cancelar
    </button>
    <button
      type="button"
      class="btn btn-success"
      *ngIf="editMode"
      (click)="Grabar()"
    >
      Grabar
    </button>
  </div>
</table>
