<table class="table">
  <thead>
    <tr>
      <th scope="col">Codigo</th>
      <th scope="col">Descripcion</th>
      <th scope="col">Valor</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let elemento of group.elementos">
      <td data-label="Codigo">
        <span>{{ elemento.codigo }}</span>
      </td>
      <td data-label="Descripcion">
        <span>{{ elemento.descripcion }}</span>
      </td>
      <td data-label="Valor">
        <input
          class="form-control"
          name="valor"
          value="{{ elemento.valor }}"
          (keyup)="onKey($event, elemento)"
        />
      </td>
    </tr>
  </tbody>
</table>
